<div>
<table  >
  <tr>
    <th>ID</th>
    <th>First Name</th> 
    <th>Last Name</th>
    <th>Email</th>
    <th>Gender</th> 
    <th>Ip address</th>
  </tr>
    <tr>
    <th> </th>
    <th><input [(ngModel)]="first_name" placeholder="first_name"></th>
    <th><input [(ngModel)]="last_name" placeholder="last_name"></th>
    <th><input [(ngModel)]="email" placeholder="email"></th>
    <th><input [(ngModel)]="gender" placeholder="gender"></th>
    <th><input [(ngModel)]="ip_address" placeholder="ip_address"></th>
  </tr>
 <tr *ngFor="let u of results | filterln : first_name:last_name:email:gender:ip_address ">
    <td>{{u.id}}</td>
    <td>{{u.first_name}}</td>
    <td>{{u.last_name}}</td>
    <td>{{u.email}}</td>
    <td>{{u.gender}}</td>
    <td>{{u.ip_address}}</td>
  </tr>
</table>
</div>

  